apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
# These are deployment resource labels.  
  labels:
    app: nginx
    tier: frontend
    purpose: deployment
spec:
  replicas: {{ .Values.deployment.replicas }}   #Imagin this will change 
  selector:
    matchLabels:
      app: nginx
      tier: frontend
      purpose: deployment
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        purpose: deployment
    spec:
      containers:
      - name: nginx
        image: nginx:{{ Values.deployment.imageVersion }} #image version frequently changes
        ports:
        - containerPort: 80